@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font_bedas {
  font-family: "Bebas Neue", sans-serif;
}


body{
  color: white;
  background-color: #000000;
   font-family: "Poppins", sans-serif;

}

.shine-text {
  position: relative;
  display: inline-block;
}

.shine-text::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
0% {
    left: -75%;
    opacity: 0; /* surute ekdom transparent */
  }
  10% {
    left: -60%;
    opacity: 0.1; /* aste aste dekha jabe */
  }
  25% {
    opacity: 0.3;
  }
  50% {
    left: 50%;
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    left: 125%;
    opacity: 0;
  }
}
